#URL DATASET
CITIBIKE_TEMPLATE_URL=https://s3.amazonaws.com/tripdata/JC-{year_month}-citibike-tripdata.csv.zip
STATION_INFO_URL=https://gbfs.citibikenyc.com/gbfs/en/station_information.json
STATION_STATUS_URL=https://gbfs.citibikenyc.com/gbfs/en/station_status.json

#PATH OUTPUT
OUTPUT_DIR=/opt/airflow/output/citibike_output

# GOOGLE CLOUD STORAGE (GCS) CONFIG
GCS_BUCKET_NAME=
GCS_FOLDER_PREFIX=
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/credentials/nama-file-service-account.json
AIRFLOW_CONN_GOOGLE_CLOUD_DEFAULT=google-cloud-platform://
PROJECT_ID=
DATASET_STAGING=
DATASET_INTERMEDIATE=
DATASET_WAREHOUSE=

TOPIC_ID=
SUBSCRIPTION_ID=

# ALERT CONFIG
AIRFLOW_CONN_SLACK_DEFAULT=slackwebhook://:xxxx%2Fyyyy%2Fzzzz/?timeout=42
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxxx/yyyy/zzzz